* {
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 275px;
    padding: 5px, 5px
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

h1, h4, footer {
    text-align: center
}
footer {
    border-style: hidden;
    width: 275px;
}
 
